@using WhirlForum2.Models

@model PostModel

<h1>@Model.Name</h1>
<h2>Created by: @Model.UserModel.Username</h2>

<table>
    <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Action</th>
    </tr>
@foreach(var comment in Model.CommentModels)
{
    <tr>
        <td>@comment.UserModel.Username</td>
        <td>
            <div id="comment_show_@comment.Id" style="display:block">@comment.Content</div>
            <div id="comment_edit_@comment.Id" style="display:none">
                <!--I would possibly like this to be in its own partial page (doesn't matter too much), but
                    we need the comment.Id value. This cannot be set easily in the forumservice with editCommentModel being one object
                    for the entire post. We could do some stuff with lists/arrays but that will get too complex when this
                    is a much simpler solution.
                -->
                <form asp-controller="Forum" asp-action="EditComment" method="post">
                    <!--<label asp-for="Content"></label>-->
                    <!--when using asp-for text area it doesn't let you prefill the text area-->
                    <textarea name="content">@comment.Content</textarea>
                    <input asp-for="EditCommentModel.CommentId" value="@comment.Id" type="hidden" />
                    <input asp-for="EditCommentModel.PostId" type="hidden" />
                    <input asp-for="EditCommentModel.UserId" value="@comment.UserModel.UserId" type="hidden" />
                    <input asp-for="EditCommentModel.CurrentPage" type="hidden" />
                    <button type="submit">Save</button>
                    <button type="button" onclick="cancelEdit('@comment.Id')">Cancel</button>
                </form>
            </div>
            
        </td>
        <td>
                @if (comment.IsUser)
                {
                    <a id="editComment" href="#" onclick="editComment('@comment.Id');return false;">Edit</a>

                    <a id="deleteComment" href="#" onclick="deleteComment('@comment.Id');return false;">Delete</a>
                }

                    <div id="comment_delete_@comment.Id" style="display:none">
                        <form asp-controller="Forum" asp-action="DeleteComment" method="post">
                            <input asp-for="EditCommentModel.CommentId" value="@comment.Id" type="hidden" />
                            <input asp-for="EditCommentModel.PostId" type="hidden" />
                            <input asp-for="EditCommentModel.UserId" value="@comment.UserModel.UserId" type="hidden" />
                            <input asp-for="EditCommentModel.CurrentPage" type="hidden" />
                            <button type="submit">Yes</button>
                            <button type="button" onclick="cancelDelete('@comment.Id')">No</button>
                        </form>
                    </div>
        </td>
    </tr>        
}
</table>
<br />

@Html.Partial("_PostPagination", Model.PaginationInfo)
<br />
@Html.Partial("_NewComment", Model.NewCommentModel)