@using Core.Models

@model UserManagementModel

@if (Model.Users.Any())
{
    <div class="listpanel">
        <h1>User Management</h1>
        @Html.Partial("_UserManagementPagination", Model.PaginationInfo)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>User Id</strong>
                        </div>
                        <div class="col-md-4">
                            <strong>Username</strong>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </div>
                @foreach (var user in Model.Users)
                {
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                @user.Id
                            </div>
                            <div class="col-md-4">
                                @user.UserName
                            </div>
                            <div class="col-md-4">
                                <a asp-controller="UserManagement" asp-action="EditUser" asp-route-userId="@user.Id">Edit</a>
                            </div>
                        </div>
                    </div>
                }
                
            </div>

            @Html.Partial("_UserManagementPagination", Model.PaginationInfo)
    
    </div>
}
else
{
    <p>There are no users to display.</p>
}
