@using Core.Models

@model CommentManagementModel

<h1>Comment Management</h1>

<table>
    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Content</th>
        <th>Post Id</th>
        <th>Action</th>
    </tr>
@foreach (var comment in Model.CommentModels)
{
    <tr>
        <td>@comment.Comment.Id</td>
        <td>@comment.CommentUser.UserName</td>
        <td>@comment.Comment.Content</td>
        <td>@comment.Comment.PostId</td>
        <td>
            @if (comment.DisplayEditDelete)
            {
                <a id="deleteCommentManagement" href="#" onclick="deleteCommentManagement('@comment.Comment.Id');return false;">Delete</a>
            }

            <div id="comment_delete_management_@comment.Comment.Id" style="display:none">
                <form asp-controller="ContentManagement" asp-action="DeleteCommentManagement" method="post">
                    <input asp-for="EditCommentModel.CommentId" value="@comment.Comment.Id" type="hidden" />
                    <input asp-for="EditCommentModel.PostId" type="hidden" />
                    <input asp-for="EditCommentModel.CurrentPage" type="hidden" />
                    <button type="submit">Yes</button>
                    <button type="button" onclick="cancelDeleteCommentManagement('@comment.Comment.Id')">No</button>
                </form>
        </td>
    </tr>
}
</table>
<br />

@Html.Partial("_CommentManagementPagination", Model.PaginationInfo)