@using Core.Models

@model List<SubforumModel>

<h1>Australian discussion forums</h1>
<br/>

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>@Model[0].Subforum.Name</strong></div>
              @foreach (var topic in @Model[0].TopicModels)
                {
                    <div class="panel-body">
                      <div class="col-md-6"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.Topic.Id"><strong>@topic.Topic.Name</strong></a></div>
                      <div class="col-md-6">
                          <div class="topicPosts">
                              @foreach (var post in topic.PostModels)
                                {
                                    <a asp-controller="Forum" asp-action="Post" asp-route-id="@post.Post.Id">@post.Post.Name</a><br/>
                                }
                          </div> 
                      </div>
                  </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>@Model[2].Subforum.Name</strong></div>
              @foreach (var topic in @Model[2].TopicModels)
                {
                    <div class="panel-body">
                      <div class="col-md-6"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.Topic.Id"><strong>@topic.Topic.Name</strong></a></div>
                      <div class="col-md-6">
                          <div class="topicPosts">
                              @foreach (var post in topic.PostModels)
                                {
                                    <a asp-controller="Forum" asp-action="Post" asp-route-id="@post.Post.Id">@post.Post.Name</a><br/>
                                }
                          </div> 
                      </div>
                  </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>@Model[1].Subforum.Name</strong></div>
              @foreach (var topic in @Model[1].TopicModels)
                {
                    <div class="panel-body">
                      <div class="col-md-6"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.Topic.Id"><strong>@topic.Topic.Name</strong></a></div>
                      <div class="col-md-6">
                          <div class="topicPosts">
                              @foreach (var post in topic.PostModels)
                                {
                                    <a asp-controller="Forum" asp-action="Post" asp-route-id="@post.Post.Id">@post.Post.Name</a><br/>
                                }
                          </div> 
                      </div>
                  </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>@Model[3].Subforum.Name</strong></div>
              @foreach (var topic in @Model[3].TopicModels)
                {
                    <div class="panel-body">
                      <div class="col-md-6"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.Topic.Id"><strong>@topic.Topic.Name</strong></a></div>
                      <div class="col-md-6">
                          <div class="topicPosts">
                              @foreach (var post in topic.PostModels)
                                {
                                    <a asp-controller="Forum" asp-action="Post" asp-route-id="@post.Post.Id">@post.Post.Name</a><br/>
                                }
                          </div> 
                      </div>
                  </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <p>The forum is empty.</p>
    <p><a asp-controller="Home" asp-action="Seed">Seed</a></p>
}