@using Core.Entities
@using Core.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signinManager;

@model TopicModel

<h1>@Model.Topic.Name</h1>

<table>
    <tr>
        <th></th>
        <th>Creator</th>
    </tr>
@foreach (var post in Model.PostModels)
{
    <tr>
        <td><a asp-controller="Forum" asp-action="Post" asp-route-id="@post.Post.Id">@post.Post.Name</a></td>
        <td>@post.User.UserName</td>
    </tr>        
}
</table>
<br />

@Html.Partial("_TopicPagination", Model.PaginationInfo)

@if (signinManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);

    @if (user.AuthAccessLevel > 0)
    {
        <p><a asp-controller="Forum" asp-action="NewPost" asp-route-id="@Model.Topic.Id">New Post</a></p>
    }
}