@using Core.Entities
@using Core.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signinManager;

@model TopicModel

@if (Model.PostModels.Any())
{
    <div class="listpanel">
        <div class="row">
            <div class="col-md-10">
                <h1>@Model.Topic.Name</h1>
            </div>
            <div class="col-md-2">
                @if (signinManager.IsSignedIn(User))
                {
                    var user = await userManager.GetUserAsync(User);

                    @if (user.AuthAccessLevel > 0)
                    {
                        <p><a asp-controller="Forum" asp-action="NewPost" asp-route-id="@Model.Topic.Id"><button class="btn btn-primary">New Post</button></a></p>
                    }
                }
            </div>
        </div>
        @Html.Partial("_TopicPagination", Model.PaginationInfo)
        <div class="panel panel-default">

        @foreach (var post in Model.PostModels)
        {
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <a asp-controller="Forum" asp-action="Post" asp-route-id="@post.Post.Id">@post.Post.Name</a>
                    </div>
                    <div class="col-md-2">
                        @post.User.UserName
                    </div>
                </div>
            </div>
        }
        </div>

        @Html.Partial("_TopicPagination", Model.PaginationInfo)

        
    </div>
}
else
{
    <p>There are no posts to display.</p>
}