@using WhirlForum2.Models

@model CommentManagementModel

<h1>Comment Management</h1>

<table>
    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Content</th>
        <th>Post Id</th>
        <th>Post Title</th>
        <th>Action</th>
    </tr>
@foreach (var comment in Model.CommentModels)
{
    <tr>
        <td>@comment.Id</td>
        <td>@comment.UserModel.Username</td>
        <td>@comment.Content</td>
        <td>@comment.PostId</td>
        <td>@comment.PostName</td>
        <td>
            <form asp-controller="ContentManagement" asp-action="DeleteCommentManagement" method="post">
                            <input asp-for="EditCommentModel.CommentId" value="@comment.Id" type="hidden" />
                            <input asp-for="EditCommentModel.PostId" type="hidden" />
                            <input asp-for="EditCommentModel.CurrentPage" type="hidden" />
                            <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
}
</table>
<br />

@Html.Partial("_CommentManagementPagination", Model.PaginationInfo)
